<!-- <form
  style="text-align: center"
  (ngSubmit)="createStripeToken()"
  class="checkout"
>
  <label style="font-size: 30px" for="card-info">Card Info</label>
  <div id="form-field">
    <div style="font-size: 30px" id="card-info" #cardInfo></div>
    <button style="font-size: 20px" id="submit-button" type="submit">
      Pay ${{ _totalAmount }}
    </button>
    <mat-error id="card-errors" role="alert" *ngIf="cardError">
      <mat-icon style="color: #f44336">cancel</mat-icon>
      &nbsp;{{ cardError }}
    </mat-error>
  </div>
</form>
<div *ngIf="test_data">
  <div [innerHTML]="test_data[0].rick"></div>
  <p>sdsd</p>
</div> -->

<input type="file" (change)="onImageChange($event)" accept="image/*" />

<img src="{{ image_url_real }}" alt="" />
<img src="{{ image_url_modified }}" alt="" />

<button (click)="sub()">sub</button>

<button (click)="ubsub()">unsib</button>
